.container {
    margin: 50px auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .col-md-6 {
    flex: 0 0 48%;
    margin-bottom: 50px;
  }
  
  .col-md-6 img {
    max-width: 300px;
    height: auto;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.5;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    font-size: 1.1rem;
    margin-bottom: 10px;
    line-height: 1.5;
  }
  
  li strong {
    font-weight: 700;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
  }
  